@model List<Woda>

<table class="table">
    <tr>

        <th>data</th>
        <th>stan licznika</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wsk_licznika)
            </td>

        </tr>
    }
</table>
