@{
    ViewData["Title"] = "Kontakt";
}


<style>

    .jumbotron {
        box-shadow: 0 0 60px 0 rgba(0,0,0,.6);
    }
</style>


<div class="jumbotron">
    <address>
        <p>Rafał Pasterak</p>
        <p>code creator and page administrator</p>
    </address>

    <address>
        e-mail:rpasterak@gmail.com
    </address>
</div>
